# dependencies
node_modules/
.pnp
.pnp.*

# next.js
.next/
out/
build/
*.tsbuildinfo
next-env.d.ts

# testing
coverage/

# python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/

# env files
.env*

# vercel
.vercel

# misc
.DS_Store
*.pem
npm-debug.log*
